@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;700&family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
/* 
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Playfair Display', serif;
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET CUSTOM CSS BEGINS */
body{
  background-color: rgb(11,9,8);
  position: relative;
}
.hidden{
  display: none !important;
}

.xImage{
 content: url(../assets/x-symbol-svgrepo-com.svg);
 width: 10px;
 margin-left: auto;
 cursor: pointer;
 padding: 5px; 
}

.grow{
  transition: all .2s ease-in-out;
}
.grow:hover{
  transform: scale(1.5);
}

.header{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  background-color: rgb(11,9,8);
  color: whitesmoke;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
}

#card-container {
  font-family: 'Work Sans', sans-serif;
  width: 80%;
  background-color: #2D1F0D;
  height: 100vh;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;

  display: grid; 
  grid-auto-columns: 1fr 1fr 1fr 1fr; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 25px 10px; 
  grid-template-areas: 
    ". . . ."
    ". . . ."
    ". . . ."; 

  justify-items: center;
}

#addBookBtn{
  background-color: none;
  border: none;
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: rgb(11,9,8);
  color: whitesmoke;
  font-size: 1.5rem;
}

#addBookBtn:hover{
  text-decoration: underline;
  cursor: pointer;
}

#addBookBtn:hover::before{
  content: "+ "
}
#addBookBtn:hover::after{
  content: " +";
}

.card{
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  flex-direction: column;
  border: 1px solid #CFB53B;
  align-items: center;
  border-radius: 10px;
  background-color: #697D7A;
  width: 90%;
  color: #CFB53B;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#addModal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #CFB53B;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
  font-size: 1.5rem;
  font-family: 'Alegreya Sans SC', sans-serif;

}

#addModal>div:first-child{
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
  font-size: 1.75rem;
}

#newBookForm{
  display: flex;
  flex-direction: column;
}

#newBookForm input{
  margin-bottom: 15px;
}

/* Checkbox Styling */

.checkbox-label{
  display: grid;
  grid-template-columns: 100px auto;
  gap: 5px;
  justify-items: right;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color:#CFB53B ;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 2px solid currentColor;
  border-radius: 0.15em;
  margin-left: 6px;
  transform: translateY(3px);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  box-shadow: inset 1em 1em #697D7A;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
}

input[type="checkbox"].cardCheck{
  background-color: #697D7A;
}

input[type="checkbox"].cardCheck::before{
  box-shadow: inset 1em 1em #CFB53B;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.formBtn{
  background-color: #CFB53B;
  border: 2px rgb(11,9,8) solid;
  border-radius: 10px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: rgb(11,9,8);
  font-size: 1.5rem;
}

.formBtn:hover{
  background-color: #697D7A;
  color: #CFB53B;
  cursor: pointer;
}

.formBtn:last-of-type{
  margin-top: 6px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}